* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 6px;
}

fieldset button[type="submit"] {
  padding: 4px;
  width: fit-content;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
}

input.error {
  border: 1px solid red;
}
