@import url("normalize.css");
@import url("responsive.css");
@import url("animation.css");

/* Header styles */
header {
  border-bottom: 2px;
  border-style: solid;
  border-color: #000000;
  padding: 10px;
  background: #299c9e;
  background: linear-gradient(
    0deg,
    rgba(40, 158, 159, 1) 0%,
    rgba(207, 31, 252, 0.9598214285714286) 100%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

header div {
  display: flex;
  align-items: center;
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

header h2 {
  margin-left: 10px;
  font-size: 1rem;
}

header nav ul {
  display: flex;
  gap: 10px;
}

main {
  margin-top: 74px;
}

#hero {
  background: url("../media/hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 74px);
  width: 100vw;
  position: relative;
}

#hero div.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}

#hero div.wrapper div {
  height: 300px;
  width: 300px;
  transition: transform 0.5s ease-in;
  cursor: pointer;
}

#hero div.wrapper div:hover {
  transform: scale(1.1); /* 300 * 1.1 = 330 */
}

#hero div.wrapper .red {
  background-color: #ff0000;
}
#hero div.wrapper .green {
  background-color: #00ff00;
}

#hero div.wrapper .blue {
  background-color: #0000ff;
}

#contact-me {
  height: 100vh;
  width: 100vw;
  background-color: #0000ff;
}

#hero div.wrapper div {
  animation: fadeIn 1s linear;
}

#contact-me .wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex;
  padding: 40px;
}

#contact-me .wrapper .block {
  width: 300px;
  height: 300px;
  background-color: red;
  animation: move 2s linear infinite;
}

footer {
  background: #299c9e;
  background: linear-gradient(
    0deg,
    rgba(40, 158, 159, 1) 0%,
    rgba(207, 31, 252, 0.9598214285714286) 100%
  );
  padding: 10px;
}

footer ul {
  display: flex;
  gap: 15px;
}

footer ul li a {
  color: #f0f8ff;
}

footer .copywright {
  margin-top: 10px;
  gap: 20px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 80px - 300px));
  }
  100% {
    transform: translateX(0);
  }
}
